@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+RO:wght@100..400&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #F9FAFE;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    all: unset;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 4, 255, 0.05);
    padding: 30px 50px;
}

.header-top .header-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    user-select: none;
    font-weight: 900;
    color: #0039D7;
}

.header-top .menu-botones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top .boton {
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    color: rgb(0, 57, 215);
    outline: 1px solid rgb(0, 57, 215, 0.5);
    background: rgb(0, 57, 215, 0.12);
    transition: ease-in-out all 0.2s;
    cursor: pointer;

    &:hover {
        background: rgb(0, 57, 215, 0.2);
        transition: ease-in-out all 0.2s;
    }
}

.header-top .hora-fecha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    color: #0039D7;
}

.contenido-principal {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 306px 306px auto;
    gap: 10px;
    width: 100%;
    padding: 10px 50px; /* Mismo padding horizontal que el header */
    box-sizing: border-box;
}

.grafica-nivel-agua, 
.grafica-nivel-precipitaciones, 
.alerta-nivel-agua, 
.actuador-alarma,
.alerta-nivel-precipitaciones {
    width: 100%;
    height: 100%; 
    border-radius: 15px;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 4, 255, 0.05);
    padding: 20px;
}

.actuador-alarma {
    grid-column: span 2; /* Ocupar dos columnas */
    text-align: center;
    background: #ddd;
}

