@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+RO:wght@100..400&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: #F9FAFE;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    all: unset;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 4, 255, 0.05);
    padding: 30px 50px;
}

.header-top .header-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    user-select: none;
    font-weight: 900;
    color: #0039D7;
}

.header-top .menu-botones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top .boton {
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    color: rgb(0, 57, 215);
    outline: 1px solid rgb(0, 57, 215, 0.5);
    background: rgb(0, 57, 215, 0.12);
    transition: ease-in-out all 0.2s;
    cursor: pointer;

    &:hover {
        background: rgb(0, 57, 215, 0.2);
        transition: ease-in-out all 0.2s;
    }
}

.header-top .hora-fecha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    color: #0039D7;
}

.contenido-principal {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 10px;
    width: 100%;
    padding: 20px 5%;
    box-sizing: border-box;
}

.grafica-nivel-agua,
.grafica-nivel-precipitaciones,
.alerta-nivel-agua,
.actuador-alarma,
.alerta-nivel-precipitaciones {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 4, 255, 0.05);
}

.grafica-nivel-agua, .grafica-nivel-precipitaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.actuador-alarma {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: span 2;
    text-align: center;
    background: #EFEFEF;
    transition: ease-in-out all 0.2s;
    outline: 1px solid rgba(0,0, 0, 0.2);
    cursor: pointer;

    &:hover {
        background: #dfdddd;
        transition: ease-in-out all 0.2s;
    }
}

.actuador-alarma .titulo-alarma {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(30, 27, 57, 0.7);
}

.actuador-alarma span {
    font-size: 40px;
    font-weight: 800;
}

.actuador-alarma p {
    font-size: 20px;
    font-weight: 250;
    color: rgba(30, 27, 57, 0.7);
}

.alerta-nivel-agua {
    display: flex;
    padding: 10px;
}

.alerta-nivel-agua .nivel-actual {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.alerta-nivel-agua .nivel-actual p {
    font-size: 15px;
    font-weight: 250;
    color: #fff;
}

.alerta-nivel-agua .nivel-actual span {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.alerta-nivel-agua .estado-actual {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alerta-nivel-agua .estado-actual p {
    font-size: 15px;
    font-weight: 250;
}

.alerta-nivel-agua .estado-actual span {
    font-size: 40px;
    font-weight: 800;
}

.alerta-nivel-precipitaciones {
    display: flex;
    padding: 10px;
}

.alerta-nivel-precipitaciones .nivel-actual {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.alerta-nivel-precipitaciones .nivel-actual p {
    font-size: 15px;
    font-weight: 250;
    color: #fff;
}

.alerta-nivel-precipitaciones .nivel-actual span {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.alerta-nivel-precipitaciones .estado-actual {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alerta-nivel-precipitaciones .estado-actual p {
    font-size: 15px;
    font-weight: 250;
}

.alerta-nivel-precipitaciones .estado-actual span {
    font-size: 40px;
    font-weight: 800;
}

.actuador-alarma.active {
    background: #A01AA3;
    transition: ease-in-out all 0.2s;

    &:hover {
        background: #931895;
    }
}

.actuador-alarma.active .titulo-alarma {
    color: #fff;
}

.actuador-alarma.active p {
    color: #fff;
}

.actuador-alarma.active svg path {
    fill: #fff;
    fill-opacity: 100%;
}

.nivel-actual.normal {
    background: #0039D7;
}

.estado-actual.normal {
    color: #0039D7;
}

.nivel-actual.moderado {
    background: #5725CD;
}

.estado-actual.moderado {
    color: #5725CD;
}

.nivel-actual.alto {
    background: #A01AA3;
}

.estado-actual.alto {
    color: #A01AA3;
}
